#title{
    text-align: center;
}

body{
    background-color: grey;
}

#container-id{
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    margin-top: 100px;
    border-radius: 50px;
    border-width: 5px;
    border-color: white;
    box-shadow: 10px 10px black;
}